html, body {
    font-family: arvo, "Microsoft JhengHei";
}
body {
	background-image: url(../images/backgrounds-2.jpg);
	background-position: top center;
	margin: auto;
}
.trim {
	max-width: 250px;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
}
.ui.modal > .content {
	padding: 0em;
}
#attachedButton {
	position: fixed;
	top: 64px;
	z-index: 20;
	width: 40px;
}
#map_canvas div {
	line-height: normal ! important;
}
.ui.basic.segment:last-child {
	padding-bottom: 1em;
}
.ui.table th {
	text-align: center;
}
.range-day-disabled { 
	opacity:.8; 
}