﻿<!doctype html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>VGI - geoproject</title>
	
	<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.min.js"></script>
	<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script src="js/semantic.min.js"></script>

    
	<link rel="stylesheet" href="css/semantic.min.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.min.css">
	<base href="/vgi_web/">
</head>
<body flow-prevent-drop>
	<div id="attachedButton" class="ui black huge launch right attached button" style="width: 40px;">
		<i class="icon user"></i>
	</div>
	<div class="ui styled sidebar">
		<h3 class="ui header">Try VGI platform</h3> 
		<div class="ui form">
		  <div class="field"><label>Account Name</label><div class="ui icon input"><input type="text" placeholder="Account Name"/></div></div>
		  <div class="field"><label>Password</label><div class="ui icon input"><input type="text" placeholder="Password"/></div></div>
		  <div class="ui blue fluid button">Login</div>
		  <div class="ui horizontal divider">Or</div>
		  <div class="ui green fluid button"><i class="signup icon"></i>Sign up</div>
		</div>
	</div>
	
	<div class="ui center aligned two column grid">
		<!-- Menu setting -->
  		<div class="five wide column">
   		   	
   		   	<div class="ui fluid vertical pointing menu" ng-click="$event.preventDefault()">
   		   		<div class="header item" ng-show="type == 'M' || type == null"><i class="large map marker icon"></i>Mobile device</div>
				<div class="text item" ng-show="type == 'M' || type == null">
					上傳透過行動裝置所產製地理資訊如 GPX 軌跡檔或具有地理標籤之相片,點選欲上傳之項目即可進行資料新增動作.
				</div>
				
				<a class="blue item" ng-class="{active: active == 'gpx'}" ng-click="active='gpx'; parent='Mobile device'" href="gpx" ng-show="type == 'M' || type == null">GPX</a>
				<a class="blue item" ng-class="{active: active == 'jpg'}" ng-click="active='jpg'; parent='Mobile device'" href="jpg" ng-show="type == 'M' || type == null">JPG (with EXIF)</a>
				
				
				<div class="header item" ng-show="type == 'D'"><i class="large globe icon"></i>Digitalize with Maps</div>
				<div class="text item" ng-show="type == 'D'">
					以最基本的數化來新增單點地理資訊,點選 KML 後即可進行數化,若欲套疊自行擁有 Geotiff 請選擇 Reference Map .
				</div>
				
				<a class="blue item" ng-class="{active: active == 'kml'}" ng-click="active='kml'; parent='Digitalize with Maps'" href="kml" ng-show="type == 'D'">KML</a>
				<a class="blue item" ng-class="{active: active == 'refMap'}" ng-click="active='refMap'; parent='Digitalize with Maps'" href="ref" ng-show="type == 'D'">Reference Map</a>
				
				<div class="header item" ng-show="type == 'E'"><i class="large map icon"></i>Existing Geodata</div>
				<div class="text item" ng-show="type == 'E'">
					採用現有地理資料或既有服務來建立VGI,如上傳該物件之shp檔或採用地理編碼服務產生地理位置.
				</div>
				
				<!-- <a class="blue item" ng-class="{active: active == 'georss'}" ng-click="active='georss'; parent='Existing service of Geodata'" href="">GeoRSS</a> -->
				<a class="blue item" ng-class="{active: active == 'shp'}" ng-click="active='shp'; parent='Existing service of Geodata'" href="shp" ng-show="type == 'E'">Shapefile</a>
				<!-- <a class="blue item" ng-class="{active: active == 'geoPDF'}" ng-click="active='geoPDF'; parent='Existing service of Geodata'" href="">geoPDF</a> -->
				<a class="blue item" ng-class="{active: active == 'geocoding'}" ng-click="active='geocoding'; parent='Existing service of Geodata'" href="" ng-show="type == 'E'">Geocoding service</a>

			</div>
   		   	<div class="ui red labeled icon top left pointing dropdown button" ng-model="type">
			  <i class="setting icon"></i>
			  <span class="text">Select Type</span>
			  <div class="menu">
				<div class="item" ng-click="type = 'M'"><i class="map marker icon"></i>Mobile device</div>
				<div class="item" ng-click="type = 'D'"><i class="globe icon"></i>Digitalize with Maps</div>
				<div class="item" ng-click="type = 'E'"><i class="map icon"></i>Existing Geodata</div>
			  </div>
			</div>
			<p>請選擇建立VGI之方式</p>
   		</div>
  		
  		<!-- Content view -->
		<div class="nine wide column">
			<div class="ng-view"></div>
		<!--
			<div class="ui left breadcrumb" ng-show="active">
				{{parent}}  <i class="right arrow icon divider"></i>  {{active}}
			</div>
		-->
			
			
			<!-- GeoRSS content -->
			<div class="ui piled segment" ng-show="active == 'georss'" style="display: none;">
				<h2>{{active | uppercase}}</h2>
 				<img src="images/Under-Construction.png" style="width: 70%;"/>
			</div>
			
			<!-- GML content -->
			<div class="ui piled segment" ng-show="active == 'geoPDF'" style="display: none;">
				<h2>{{active | uppercase}}</h2>
 				<img src="images/Under-Construction.png" style="width: 70%;"/>
			</div>
			
			<!-- Geocoding content -->
			<div class="ui piled segment" ng-show="active == 'geocoding'" style="display: none;">
				<h2>{{active | uppercase}}</h2>
 				<img src="images/Under-Construction.png" style="width: 70%;"/>
			</div>
			
		</div>
		
    </div>
	<br /><br /><br />
	<div style="text-align: center;">
            NCKU , Dept. Of Geomatics, 2014<br />
			Intelligent Geographic Information System Lab
	<div>
	<br /><br /><br />
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script src="js/main.js"></script>
	<script src="//use.edgefonts.net/arvo.js"></script>
</body>
</html>