<!-- uploader.html template -->
<div class="uploader">

	
	<input type="file" name="uploader" style="display:none;" onchange="angular.element(this).scope().sendFile(this);"/>

	<div class="fake-uploader">
		<label for="uploader"></label>
		<input type="text" readonly="readonly" ng-model="avatar"/>
	</div>
	<!-- progress bar -->
	<div class="progress" ng-show="progress!=0">
		<div class="bar" style="width:{{progress}}%;"></div>
	</div>

</div>