﻿<!-- GPX content -->
			<div class="ui piled segment" ng-show="active == 'gpx'" ng-controller="gpsFormController"`>
			
				<h2 class="ui header">GPX</h2>
				<div class="ui blue ribbon label" style="position: absolute; left: -1rem; z-index: 10;">Intro</div>
 				<div class="ui horizontal icon divider"><i class="circular list icon"></i></div>
				<i class="quote left icon"></i>
				GPX, or GPS eXchange Format is an XML schema designed as a common GPS data format for software applications.
				<i class="quote right icon"></i> - Wikipedia
				<br /><h2></h2>

 				<div class="ui blue ribbon label" style="position: absolute; left: -1rem; z-index: 10;">STEP1&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;File upload</div>
				<div class="ui horizontal icon divider"><i class="circular attachment icon"></i></div>
				<div class="ui icon message" style="background-color: #FFF;">
				  <i class="help icon"></i>
				  <div class="content" style="text-align: left;">
					<div class="header">File upload</div>
					<p>上傳由行動裝置產生之GPX軌跡檔,完成點選 Preview 於 Googel Maps 上進行預覽.</p>
				  </div>
				</div>
 					<!-- <div class="ui success message" ng-show="message"><i class="close icon" ng-click="cancel()"></i>{{message}}</div> -->
					
 					<form name="gpsForm" ng-submit="gpsProcessForm()" class="ui fluid form">
						<!-- File preview -->
						<table class="ui table segment">
						  <thead><tr><th><i class="file icon"></i>File</th><th><i class="info icon"></i>Size</th></tr></thead>
						  <tbody>
							<tr><td><pre ng-show="files.length > 0" class="trim">{{files[files.length-1].name}}</pre></td>
							<td><pre ng-show="files.length > 0">{{files[files.length-1].size}}</pre></td></tr>
						  </tbody>
						  <tfoot>
							<tr><th colspan="3">
							  <div><label for="gpsFile" class="home positive ui button"><i class="icon upload"></i>Add File</label><input id="gpsFile" type="file" file-upload style="display: none;">
							  <label class="ui red button" ng-click="files.length = 0"><i class="icon remove"></i>Cancel</label></div>
							</th>
						  </tr></tfoot>
						</table>
						<a id="showGpsPreviewMap" ng-disabled="files.length == 0" ng-class="{disabled: files.length == 0}" class="ui blue button" >Preview</a>
						
						
						<h2></h2>
						<div class="ui blue ribbon label" style="position: absolute; z-index: 10;">STEP2&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Metadata</div>
						<div class="ui horizontal icon divider"><i class="circular info letter icon"></i></div>
						<div class="ui icon message" style="background-color: #FFF;">
						  <i class="help icon"></i>
						  <div class="content" style="text-align: left;">
							<div class="header">Metadata</div>
							<p>填寫個人相關資訊以供辨識該資料產製者,以及該資料之基本描述資訊,若必填資訊未填寫完整將無法上傳該筆地理資訊.</p>
						  </div>
						</div>
						
						<div class="ui basic segment"><div class="ui inverted dimmer" ng-class="{active: loading}">
							<div class="ui text loader">Loading</div>
						</div>
						
						<div class="field">
							<label>Name</label>
							<div class="ui left labeled icon input">
								<input type="text" name="name" placeholder="name" ng-model="gpsFormData.name" ng-minlength="3" required><i class="user icon"></i>
								<div ng-show="gpsForm.name.$invalid && !gpsForm.name.$pristine" class="ui red pointing above ui label">請輸入使用者名稱</div>
							</div>
							
						</div>
						<div class="field">
							<label>E-mail</label>
							<div class="ui left labeled icon input">
								<input type="email" name="email" placeholder="email" ng-model="gpsFormData.email" required><i class="mail icon"></i>
								<div ng-show="gpsForm.email.$invalid && !gpsForm.email.$pristine" class="ui red pointing above ui label">請輸入E-mail</div>
							</div>
							
						</div>
						<!--
						<div class="field">
							<label>Password</label>
							<div class="ui left labeled icon input">
								<input type="password" name="password" placeholder="password" ng-model="gpsFormData.password" ng-minlength="5" required><i class="lock icon"></i>
								<div ng-show="gpsForm.password.$error.minlength" class="ui red pointing above ui label">請輸入超過5個字元以上的密碼</div>
							</div>
						</div>
						-->
						<div class="field">
							<label>Description</label>
							<div class="ui left labeled icon input">
								<input type="text" name="description" placeholder="Description" ng-model="gpsFormData.description" ng-maxlength="50" required><i class="comment icon"></i>
								<div ng-show="gpsForm.description.$error.maxlength" class="ui red pointing above ui label">請輸入至多50個字之描述</div>
							</div>
						</div>
						<br />
						<div class="field">
						  <div class="ui fluid accordion">
							<div class="title" style="text-align: left;"><i class="icon dropdown"></i>Optional Field</div>
							<div class="content field">
								<label>How are you?</label>
								<input placeholder="How are you?" type="email">
							</div>
						  </div>
						</div>
						<button type="submit"  ng-disabled="gpsForm.$invalid" ng-class="{disabled: gpsForm.$invalid}" class="ui blue submit button"  ng-click="loading = true;">Submit</button>
						</div>
					</form>
				<br />
					
				<!-- output display -->
				<div ng-show="output" class="ui left">
					<div class="ui red ribbon label" style="position: absolute; left: -1rem; z-index: 10;">Output</div><br /><br />
					<div class="ui list">
					  <div class="list">
						<div class="item" >
							<div class="ui label">
							  ID<div class="detail">{{field.id}}</div>
							</div>
						</div>
						<div class="item" ng-show="field.creator[0]"><i class="triangle right icon"></i>
							<div class="content" style="text-align: left;">
							  <div class="header">Creator</div><div class="description">{{field.creator[0]}}</div>
							</div>
						</div>
						<div class="item" ng-show="field.rteName"><i class="triangle right icon"></i>
							<div class="content" style="text-align: left;">
							  <div class="header">Route Name</div><div class="description">{{field.rteName}}</div>
							</div>
						</div>
						<div class="item" ng-show="field.version[0]"><i class="triangle right icon"></i>
							<div class="content" style="text-align: left;">
							  <div class="header">GPX version</div><div class="description">{{field.version[0]}}</div>
							</div>
						</div>
						<div class="item" ng-show="field.time[0]"><i class="triangle right icon"></i>
							<div class="content" style="text-align: left;">
							  <div class="header">Time</div><div class="description">{{field.time[0]}}</div>
							</div>
						</div>
						
						<div class="item" ng-show="field.bounds"><i class="triangle right icon"></i>
							<div class="content" style="text-align: left;">
							  <div class="header">Bounds</div><div class="description">
							  MinLat {{field.bounds.minlat[0]}}<br />MinLon {{field.bounds.minlon[0]}}<br />MaxLat {{field.bounds.maxlat[0]}}<br />MaxLon{{field.bounds.maxlon[0]}}
							  </div>
							</div>
						</div>
						<br />
						<button class="ui teal secondary button" id="showGpsMap"><i class="cloud upload icon"></i>View on Map</button>
					  </div>
					</div>
					
				</div>
				<div class="ui modal gps" id="gpxMap">
				  <i class="close icon"></i>
				  <div class="header">View on Map</div>
				  <div class="content"><div id="map_canvas" style="width: 100%;height:400px;"></div></div>
				  <div class="actions"><div class="ui button">Cancel</div></div>
				</div>
				<div class="ui modal gpsPreview" id="gpxMapPreview">
				  <i class="close icon"></i>
				  <div class="header">Preview GPX file</div>
				  <div class="content"><div id="map_preview" style="width: 100%;height:400px;"></div></div>
				  <div class="actions"><div class="ui button">Cancel</div></div>
				</div>
			</div>