﻿<!-- JPG content -->
<div class="ui piled segment" >
	
	<h2 class="ui header">JPG</h2>
	<div class="ui blue ribbon label" style="position: absolute; left: -1rem; z-index: 10;">Intro</div>
	<div class="ui horizontal icon divider"><i class="circular list icon"></i></div>
	<i class="quote left icon"></i>
	JPEG compression is used in a number of image file formats. JPEG/Exif is the most common image format used by digital cameras and other photographic image capture devices; along with JPEG/JFIF, it is the most common format for storing and transmitting photographic images on the World Wide Web.[citation needed] These format variations are often not distinguished, and are simply called JPEG.
	<i class="quote right icon"></i> - Wikipedia
	<br /><h2></h2>

	<div class="ui blue ribbon label" style="position: absolute; left: -1rem; z-index: 10;">STEP1&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;File upload</div>
	<div class="ui horizontal icon divider"><i class="circular attachment icon"></i></div>
	<div class="ui icon message" style="background-color: #FFF;">
	  <i class="help icon"></i>
	  <div class="content" style="text-align: left;">
		<div class="header">File upload</div>
		<p>上傳具地理標籤之照片,系統將自動解讀EXIF資訊作為該地理位置之參考.</p>
	  </div>
	</div>
	
		<form name="jpgForm" ng-submit="jpgProcessForm()" class="ui fluid form">		
			<!-- File preview -->
			<table class="ui table segment">
			  <thead><tr><th><i class="file icon"></i>File</th><th><i class="info icon"></i>Size</th></tr></thead>
			  <tbody>
				<tr><td><pre ng-show="files.length > 0" class="trim">{{files[files.length-1].name}}</pre></td>
				<td><pre ng-show="files.length > 0">{{files[files.length-1].size}}</pre></td></tr>
			  </tbody>
			  <tfoot>
				<tr><th colspan="3">
				  <div><label for="jpgFile" class="home positive ui button"><i class="icon upload"></i>Add File</label><input id="jpgFile" type="file" file-upload style="display: none;">
				  <label class="ui red button" ng-click="files.length = 0"><i class="icon remove"></i>Cancel</label></div>
				</th>
			  </tr></tfoot>
			</table>
			
			
			<h2></h2>
			<div class="ui blue ribbon label" style="position: absolute; z-index: 10;">STEP2&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Metadata</div>
			<div class="ui horizontal icon divider"><i class="circular info letter icon"></i></div>
			<div class="ui icon message" style="background-color: #FFF;">
			  <i class="help icon"></i>
			  <div class="content" style="text-align: left;">
				<div class="header">Metadata</div>
				<p>填寫個人相關資訊以供辨識該資料產製者,以及該資料之基本描述資訊,若必填資訊未填寫完整將無法上傳該筆地理資訊.</p>
			  </div>
			</div>
			
			<div class="ui basic segment"><div class="ui inverted dimmer" ng-class="{active: loading}">
				<div class="ui text loader">Loading</div>
			</div>
			
			<div class="field">
				<label>Name</label>
				<div class="ui left labeled icon input">
					<input type="text" name="name" placeholder="name" ng-model="jpgFormData.name" ng-minlength="2" required><i class="user icon"></i>
					<div ng-show="jpgForm.name.$error.minlength" class="ui red pointing above ui label">請輸入使用者名稱</div>
				</div>
			</div>
			<div class="field">
				<label>E-mail</label>
				<div class="ui left labeled icon input">
					<input type="email" name="email" placeholder="email" ng-model="jpgFormData.email" required><i class="mail icon"></i>
					<div ng-show="jpgForm.email.$invalid && !jpgForm.email.$pristine" class="ui red pointing above ui label">請輸入E-mail</div>
				</div>
				
			</div>
			<!--
			<div class="field">
				<label>Password</label>
				<div class="ui left labeled icon input">
					<input type="password" name="password" placeholder="password" ng-model="jpgFormData.password" ng-minlength="5" required><i class="lock icon"></i>
					<div ng-show="jpgForm.password.$error.minlength" class="ui red pointing above ui label">請輸入超過5個字元之密碼</div>
				</div>
			</div>
			-->
			<div class="field">
				<label>Description</label>
				<div class="ui left labeled icon input">
					<input type="text" name="description" placeholder="Description" ng-model="jpgFormData.description" ng-maxlength="50" required><i class="comment icon"></i>
					<div ng-show="jpgForm.description.$error.maxlength" class="ui red pointing above ui label">請輸入至多50個字之描述</div>
				</div>
			</div>
			<br />
			<div class="field">
			  <div class="ui fluid accordion">
				<div class="title" style="text-align: left;"><i class="icon dropdown"></i>Optional Field</div>
				<div class="content field">
					<label>Opening Hours</label>
					<div class="grouped inline fields">
					
					<div class="field" style="text-align: left;">
					  <div class="ui checkbox">
					    <input type="checkbox" name="monday" id="monday" value="1" checked><label for="monday">Monday</label> 
					  </div>
					  <input class="range-time" type="text" style="border: 0px; padding: 0px" id="range-time-1">
					</div>
					<p><div id="range-slider-1" class="range-slider" style="margin: 5px"></div></p>

					
					<div class="field" style="text-align: left;">
					  <div class="ui checkbox">
					    <input type="checkbox" name="tuesday" id="tuesday" value="1"><label for="tuesday">Tuesday</label>
					  </div>
					  <input class="range-time" type="text" style="border: 0px; padding: 0px" id="range-time-2">
					</div>
					<p><div id="range-slider-2" class="range-slider" style="margin: 5px"></div></p>
					
					<div class="field" style="text-align: left;">
					  <div class="ui checkbox">
					    <input type="checkbox" name="wednesday" id="wednesday" value="1" checked><label for="wednesday">Wednesday</label>
					  </div>
					  <input class="range-time" type="text" style="border: 0px; padding: 0px" id="range-time-3">
					</div>
					<p><div id="range-slider-3" class="range-slider" style="margin: 5px"></div></p>
					
					<div class="field" style="text-align: left;">
					  <div class="ui checkbox">
					    <input type="checkbox" name="thursday" id="thursday" value="1" checked><label for="thursday">Thursday</label>
					  </div>
					  <input class="range-time" type="text" style="border: 0px; padding: 0px" id="range-time-4">
					</div>
					<p><div id="range-slider-4" class="range-slider" style="margin: 5px"></div></p>
					
					<div class="field" style="text-align: left;">
					  <div class="ui checkbox">
					    <input type="checkbox" name="friday" id="friday" value="1" checked><label for="friday">Friday</label>
					  </div>
					  <input class="range-time" type="text" style="border: 0px; padding: 0px" id="range-time-5">
					</div>
					<p><div id="range-slider-5" class="range-slider" style="margin: 5px"></div></p>
					
					<div class="field" style="text-align: left;">
					  <div class="ui checkbox">
					    <input type="checkbox" name="saturday" id="saturday" value="1"><label for="saturday">Saturday</label>
					  </div>
					  <input class="range-time" type="text" style="border: 0px; padding: 0px" id="range-time-6">
					</div>
					<p><div id="range-slider-6" class="range-slider" style="margin: 5px"></div></p>
					
					<div class="field" style="text-align: left;">
					  <div class="ui checkbox">
					    <input type="checkbox" name="sunday" id="sunday" value="1"><label for="sunday">Sunday</label>
					  </div>
					  <input class="range-time" type="text" style="border: 0px; padding: 0px" id="range-time-7">
					</div>
					<p><div id="range-slider-7" class="range-slider" style="margin: 5px"></div></p>
					
					</div> <!-- grouped inline end  -->
					
				</div>
			  </div>
			</div>
			<button type="submit"  ng-disabled="jpgForm.$invalid" ng-class="{disabled: jpgForm.$invalid}" class="ui blue submit button" ng-click="loading = true;">Submit</button>
			</div>
		</form>
	<br />
	
	<!-- output display -->
	<div ng-show="output" class="ui left">
		<div class="ui red ribbon label" style="position: absolute; left: -1rem; z-index: 10;">Output</div><br /><br />
		<div class="ui list">
		  <div class="list">
			<div class="item" >
				<div class="ui label">
				  ID<div class="detail">{{field.id}}</div>
				</div>
			</div>
			<div class="item" ng-show="field.coords"><i class="triangle right icon"></i>
				<div class="content" style="text-align: left;">
				  <div class="header">Coords</div><div class="description">{{field.coords['lat']}}, {{field.coords['lng']}}</div>
				</div>
			</div>
			<div class="item" ng-show="field.DateTime"><i class="triangle right icon"></i>
				<div class="content" style="text-align: left;">
				  <div class="header">DateTime</div><div class="description">{{field.DateTime}}</div>
				</div>
			</div>
			<div class="item" ng-show="field.Make"><i class="triangle right icon"></i>
				<div class="content" style="text-align: left;">
				  <div class="header">Make</div><div class="description">{{field.Make}}</div>
				</div>
			</div>
			<div class="item" ng-show="field.Model"><i class="triangle right icon"></i>
				<div class="content" style="text-align: left;">
				  <div class="header">Model</div><div class="description">{{field.Model}}</div>
				</div>
			</div>
			<div class="item" ng-show="field.Software"><i class="triangle right icon"></i>
				<div class="content" style="text-align: left;">
				  <div class="header">Software</div><div class="description">{{field.Software}}</div>
				</div>
			</div>
			<div class="item" ng-show="field.Height"><i class="triangle right icon"></i>
				<div class="content" style="text-align: left;">
				  <div class="header">Height</div><div class="description">{{field.Height}}</div>
				</div>
			</div>
			<div class="item" ng-show="field.Width"><i class="triangle right icon"></i>
				<div class="content" style="text-align: left;">
				  <div class="header">Width</div><div class="description">{{field.Width}}</div>
				</div>
			</div>
			<div class="item" ng-show="field.MimeType"><i class="triangle right icon"></i>
				<div class="content" style="text-align: left;">
				  <div class="header">MimeType</div><div class="description">{{field.MimeType}}</div>
				</div>
			</div>
			
			<br />
			<button class="ui button" id="showJpgMap"><i class="large cloud upload icon"></i>View on Map</button>
			<a class="ui button" href="http://140.116.47.109/vgi_web/upload/jpg/{{field.fileName}}" target="_self">
				<i class="large cloud download icon"></i>KML
			</a>
		  </div>
		</div>
		
	</div>
	<div class="ui modal">
	  <i class="close icon"></i>
	  <div class="header">View on Map</div>
	  <div class="content"><div id="map_canvas" style="width: 100%; height:500px;"></div></div>
	  <div class="actions"><div class="ui button">Cancel</div></div>
	</div>
	
</div>