﻿<!-- KML content -->
<div class="ui piled segment" >
	
	<h2 class="ui header">KML</h2>
	<div class="ui blue ribbon label" style="position: absolute; left: -1rem; z-index: 10;">Intro</div>
	<div class="ui horizontal icon divider"><i class="circular list icon"></i></div>
	<i class="quote left icon"></i>
	Keyhole Markup Language (KML) is an XML notation for expressing geographic annotation and visualization within Internet-based, two-dimensional maps and three-dimensional Earth browsers. KML was developed for use with Google Earth, which was originally named Keyhole Earth Viewer. It was created by Keyhole, Inc, which was acquired by Google in 2004.
	<i class="quote right icon"></i> - Wikipedia
	<br /><h2></h2>

	<div class="ui blue ribbon label" style="position: absolute; left: -1rem; z-index: 10;">STEP1&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;File upload</div>
	<div class="ui horizontal icon divider"><i class="circular attachment icon"></i></div>
	<div class="ui icon message" style="background-color: #FFF;">
	  <i class="help icon"></i>
	  <div class="content" style="text-align: left;">
		<div class="header">File upload</div>
		<p>可透過該區進行既有KML檔的上傳,若沒有則可跳過該步驟.</p>
	  </div>
	</div>
	
		<form name="kmlForm" ng-submit="kmlProcessForm()" class="ui fluid form">
			<!-- File preview -->
			<table class="ui table segment">
			  <thead><tr><th><i class="file icon"></i>File</th><th><i class="info icon"></i>Size</th></tr></thead>
			  <tbody>
				<tr><td><pre ng-show="files.length > 0" class="trim">{{files[files.length-1].name}}</pre></td>
				<td><pre ng-show="files.length > 0">{{files[files.length-1].size}}</pre></td></tr>
			  </tbody>
			  <tfoot>
				<tr><th colspan="3">
				  <div><label for="kmlFile" class="home positive ui button"><i class="icon upload"></i>Add File</label><input id="kmlFile" type="file" file-upload style="display: none;">
				  <label class="ui red button" ng-click="files.length = 0"><i class="icon remove"></i>Cancel</label></div>
				</th>
			  </tr></tfoot>
			</table>
			
			
			<h2></h2>
			<div class="ui blue ribbon label" style="position: absolute; z-index: 10;">STEP2&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Choosing a location</div>
			<div class="ui horizontal icon divider"><i class="circular map marker icon"></i></div>
			<div class="ui icon message" style="background-color: #FFF;">
			  <i class="help icon"></i>
			  <div class="content" style="text-align: left;">
				<div class="header">Choosing a location</div>
				<p>以拖拉方式來移動紅色標記,亦可切換不同種類底圖做為數化之依據,如衛星檢視.</p>
			  </div>
			</div>
			
			<div class="ui basic segment"><div class="ui inverted dimmer" ng-class="{active: loading}">
				<div class="ui text loader">Loading</div>
			</div>
			
			<!-- Digitalize with map part -->
			<div class="ui grid">
				<div class="row"><div id="map_canvas_digitalize" style="width: 100%; height: 450px;"></div>
				</div>
			</div>
			
			<table class="ui table segment">
			  <thead><tr><th><i class="text file icon"></i>Info</th><th><i class="info icon"></i>Value</th></tr></thead>
			  <tbody>
				<tr><td>Lat</td><td><span ng-bind="Lat" id="Lat"></td></tr>
				<tr><td>Lng</td><td><span ng-bind="Lng" id="Lng"></td></tr>
				<tr><td>ZoomLevel</td><td><span ng-bind="ZoomLevel" id="ZoomLevel"></td></tr>
				<tr><td>MapType</td><td><span ng-bind="MapType" id="MapType"></td></tr>
				<tr><td>MapSource</td><td><span ng-bind="MapSource" id="MapSource"></td></tr>
				<tr><td>ImgSource</td><td><span ng-bind="ImgSource" id="ImgSource"></td></tr>
			  </tbody>
			</table>
			<!-- End of Digitalize with map -->
			
			<div class="ui blue ribbon label" style="position: absolute; z-index: 10;">STEP3&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Metadata</div>
			<div class="ui horizontal icon divider"><i class="circular info letter icon"></i></div>
			<div class="ui icon message" style="background-color: #FFF;">
			  <i class="help icon"></i>
			  <div class="content" style="text-align: left;">
				<div class="header">Metadata</div>
				<p>填寫個人相關資訊以供辨識該資料產製者,以及該資料之基本描述資訊,若必填資訊未填寫完整將無法上傳該筆地理資訊.</p>
			  </div>
			</div>
			<br />
			<div class="field">
				<label>Name</label>
				<div class="ui left labeled icon input">
					<input type="text" name="name" placeholder="name" ng-model="kmlFormData.name" ng-minlength="2" required><i class="user icon"></i>
					<div ng-show="kmlForm.name.$invalid && !kmlForm.name.$pristine" class="ui red pointing above ui label">請輸入使用者名稱</div>
				</div>
				
			</div>
			<div class="field">
				<label>E-mail</label>
				<div class="ui left labeled icon input">
					<input type="email" name="email" placeholder="email" ng-model="kmlFormData.email" required><i class="mail icon"></i>
					<div ng-show="kmlForm.email.$invalid && !kmlForm.email.$pristine" class="ui red pointing above ui label">請輸入E-mail</div>
				</div>
				
			</div>
			<!--
			<div class="field">
				<label>Password</label>
				<div class="ui left labeled icon input">
					<input type="password" name="password" placeholder="password" ng-model="kmlFormData.password" ng-minlength="5" required><i class="lock icon"></i>
					<div ng-show="kmlForm.password.$error.minlength" class="ui red pointing above ui label">請輸入超過5個字元之密碼</div>
				</div>
			</div>
			-->
			<div class="field">
				<label>Description</label>
				<div class="ui left labeled icon input">
					<input type="text" name="description" placeholder="請填寫 測量系館 或 光復校區 等描述文字" ng-model="kmlFormData.description" ng-maxlength="50" required><i class="comment icon"></i>
					<div ng-show="kmlForm.description.$error.maxlength" class="ui red pointing above ui label">請輸入至多50個字之描述</div>
				</div>
			</div>
			<br />
			<div class="field">
			  <div class="ui fluid accordion">
				<div class="title" style="text-align: left;"><i class="icon dropdown"></i>Optional Field</div>
				<div class="content field">
					<label>How are you?</label>
					<input placeholder="How are you?" type="text">
				</div>
			  </div>
			</div>
			<button type="submit"  ng-disabled="kmlForm.$invalid || output" ng-class="{disabled: (kmlForm.$invalid || output)}" class="ui blue submit button"  ng-click="loading = true;">Submit</button>
			</div>
		</form>
	<br />
	<!-- output display -->
	<div ng-show="output" class="ui left">
		<div class="ui red ribbon label" style="position: absolute; left: -1rem; z-index: 10;">Output</div><br /><br />
		<div class="ui list">
		  <div class="list">
			<div class="item" >
				<div class="ui label">
				  ID<div class="detail">{{field.id}}</div>
				</div>
			</div>
			<div class="item" ng-show="field.Lat"><i class="triangle right icon"></i>
				<div class="content" style="text-align: left;">
				  <div class="header">Coords</div><div class="description">{{field.Lat}}, {{field.Lng}}</div>
				</div>
			</div>
			<div class="item" ng-show="field.MapSource"><i class="triangle right icon"></i>
				<div class="content" style="text-align: left;">
				  <div class="header">MapSource</div><div class="description">{{field.MapSource}}</div>
				</div>
			</div>
			<div class="item" ng-show="field.MapType"><i class="triangle right icon"></i>
				<div class="content" style="text-align: left;">
				  <div class="header">MapType</div><div class="description">{{field.MapType}}</div>
				</div>
			</div>
			<div class="item" ng-show="field.ImgSource"><i class="triangle right icon"></i>
				<div class="content" style="text-align: left;">
				  <div class="header">ImgSource</div><div class="description">{{field.ImgSource}}</div>
				</div>
			</div>
			<div class="item" ng-show="field.ZoomLevel"><i class="triangle right icon"></i>
				<div class="content" style="text-align: left;">
				  <div class="header">ZoomLevel</div><div class="description">{{field.ZoomLevel}}</div>
				</div>
			</div>

			<br />
			<button class="ui button" id="showKmlMap"><i class="large cloud upload icon"></i>View on Map</button>
			<a class="ui button" href="http://140.116.47.109/vgi_web/upload/kml/{{field.fileName}}" target="_self">
				<i class="large cloud download icon"></i>KML
			</a>
			<a class="ui positive button" href="http://140.116.47.109/vgi_web/kml" target="_self">
				<i class="large repeat icon"></i>NEXT
			</a>
		  </div>
		</div>
		
	</div>
	<div class="ui modal">
	  <i class="close icon"></i>
	  <div class="header">View on Map</div>
	  <div class="content"><div id="map_canvas" style="width: 100%; height:500px;"></div></div>
	  <div class="actions"><div class="ui button">Cancel</div></div>
	</div>
	
</div>