﻿<!-- SHP content -->
<div class="ui piled segment" >
	
	<h2 class="ui header">Shapefile</h2>
	<div class="ui blue ribbon label" style="position: absolute; left: -1rem; z-index: 10;">Intro</div>
	<div class="ui horizontal icon divider"><i class="circular list icon"></i></div>
	<i class="quote left icon"></i>
	The Esri shapefile, or simply a shapefile, is a popular geospatial vector data format for geographic information system software. It is developed and regulated by Esri as a (mostly) open specification for data interoperability among Esri and other GIS software products. Shapefiles spatially describe vector features: points, lines, and polygons, representing, for example, water wells, rivers, and lakes. Each item usually has attributes that describe it, such as name or temperature.
	<i class="quote right icon"></i> - Wikipedia
	<br /><h2></h2>

	<div class="ui blue ribbon label" style="position: absolute; left: -1rem; z-index: 10;">File upload</div>
	<div class="ui horizontal icon divider"><i class="circular attachment icon"></i></div>
	<br />
	
		<form name="shpForm" ng-submit="shpProcessForm()" class="ui fluid form">
			<!-- File preview -->
			<div class="ui icon message">
			  <i class="inbox icon"></i>
			  <div class="content" style="text-align: left;">
				<div class="header">Upload Info</div>
				<p>The main file (.shp), the index file (.shx), and the dBASE file (.dbf) have the same prefix.</p>
			  </div>
			</div>
			<table class="ui table segment">
			  <thead><tr><th><i class="file icon"></i>File</th><th><i class="info icon"></i>Size</th></tr></thead>
			  <tbody>
				<tr ng-hide="files.length > 0"><td></td></tr>
				<tr ng-repeat="file in files">
					<td ng-bind="file.name"></td><td ng-bind="file.size"></td>
				</tr>
			  </tbody>
			  <tfoot>
				<tr><th colspan="3">
				  <div><label for="shpFile" class="home positive ui button" ng-class="{disabled: files.length == 3}"><i class="icon upload"></i>Add File</label><input id="shpFile" type="file" file-upload style="display: none;">
				  <label class="ui red button" ng-click="files.length = 0"><i class="icon remove"></i>Cancel</label></div>
				</th>
			  </tr></tfoot>
			</table>
			<br />
			<div class="ui icon message">
			  <i class="file icon"></i>
			  <div class="content" style="text-align: left;">
				<div class="header">Upload Info</div>
				<p>Geospatial metadata in XML format, such as ISO 19115 or other XML schema</p>
			  </div>
			</div>
			<table class="ui table segment">
			  <thead><tr><th><i class="file icon"></i>MetaData File</th><th><i class="info icon"></i>Size</th></tr></thead>
			  <tbody>
				<tr ng-hide="files.length > 0"><td></td></tr>
				<tr ng-repeat="file in files">
					<td ng-bind="file.name"></td><td ng-bind="file.size"></td>
				</tr>
			  </tbody>
			  <tfoot>
				<tr><th colspan="3">
				  <div><label for="shpFileMetadata" class="home positive ui button" ng-class="{disabled: files.length == 1}"><i class="icon upload"></i>Add File</label><input id="shpFileMetadata" type="file" file-upload style="display: none;">
				  <label class="ui red button" ng-click="files.length = 0"><i class="icon remove"></i>Cancel</label></div>
				</th>
			  </tr></tfoot>
			</table>
			
			
			<h2></h2>
			<div class="ui blue ribbon label" style="position: absolute; z-index: 10;">Metadata</div>
			<div class="ui horizontal icon divider"><i class="circular info letter icon"></i></div>
			
			<div class="ui basic segment"><div class="ui inverted dimmer" ng-class="{active: loading}">
				<div class="ui text loader">Loading</div>
			</div>

			<div class="field">
				<label>E-mail</label>
				<div class="ui left labeled icon input">
					<input type="email" name="email" placeholder="email" ng-model="shpFormData.email" required><i class="user icon"></i>
					<div ng-show="shpForm.email.$invalid && !shpForm.email.$pristine" class="ui red pointing above ui label">請輸入E-mail</div>
				</div>
				
			</div>
			<div class="field">
				<label>Password</label>
				<div class="ui left labeled icon input">
					<input type="password" name="password" placeholder="password" ng-model="shpFormData.password" ng-minlength="5" required><i class="lock icon"></i>
					<div ng-show="shpForm.password.$error.minlength" class="ui red pointing above ui label">請輸入超過5個字元之密碼</div>
				</div>
			</div>
			<div class="field">
				<label>Description</label>
				<div class="ui left labeled icon input">
					<input type="text" name="description" placeholder="Description" ng-model="shpFormData.description" ng-maxlength="50" required><i class="lock icon"></i>
					<div ng-show="shpForm.description.$error.maxlength" class="ui red pointing above ui label">請輸入至多50個字之描述</div>
				</div>
			</div>
			<br />
			<div class="field">
			  <div class="ui fluid accordion">
				<div class="title" style="text-align: left;"><i class="icon dropdown"></i>Optional Field</div>
				<div class="content field">
					<label>How are you?</label>
					<input placeholder="How are you?" type="email">
				</div>
			  </div>
			</div>
			<button type="submit"  ng-disabled="shpForm.$invalid" ng-class="{disabled: shpForm.$invalid}" class="ui blue submit button"  ng-click="loading = true;">Submit</button>
			</div>
		</form>
	<br />
	<!-- output display -->
	<div ng-show="output" class="ui left">
		<div class="ui red ribbon label" style="position: absolute; left: -1rem; z-index: 10;">Output</div><br /><br />
		<div class="ui list">
		  <div class="list">
			<div class="item" >
				<div class="ui label">
				  ID<div class="detail">{{field.id}}</div>
				</div>
			</div>
			
			<div class="item" ng-show="field.extent"><i class="triangle right icon"></i>
				<div class="content" style="text-align: left;">
				  <div class="header">Bounds-UL</div><div class="description">Upper Left{{field.extent.UL[0]}}, {{field.extent.UL[1]}}</div>
				</div>
			</div>
			<div class="item" ng-show="field.extent"><i class="triangle right icon"></i>
				<div class="content" style="text-align: left;">
				  <div class="header">Bounds-LR</div><div class="description">Lower Right{{field.extent.LR[0]}}, {{field.extent.LR[1]}}</div>
				</div>
			</div>
			<div class="item" ng-show="field.numFeatures"><i class="triangle right icon"></i>
				<div class="content" style="text-align: left;">
				  <div class="header">Number of Features</div><div class="description">{{field.numFeatures}}</div>
				</div>
			</div>
			<div class="item" ng-show="field.rowInfo"><i class="triangle right icon"></i>
				<div class="content" style="text-align: left;">
				  <div class="header">Feature Info</div>
				  <div class="description" ng-repeat="row in field.rowInfo">{{$index}}, {{row.Lat}}, {{row.Lng}}</div>
				</div> 
			</div>

			<br />
			<button class="ui teal secondary button" id="showShpMap"><i class="cloud upload icon"></i>View on Map</button>
		  </div>
		</div>
		
	</div>
	<div class="ui modal">
	  <i class="close icon"></i>
	  <div class="header">View on Map</div>
	  <div class="content"><div id="map_canvas" style="width: 100%; height:500px;"></div></div>
	  <div class="actions"><div class="ui button">Cancel</div></div>
	</div>
	
</div>